html{
  height: 100%;
}

body{
  font-family: Noto,Roboto;
  background-color:#000000;
  color:#ffffff;
  height:100%;
}

.fa-github{
  font-size: 32px;
  color:white;
  &:hover{
    color: #F8BBD0;
  }
}

.vertical-center{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 0px;
  right: 0;
}

#navbar{
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  height: 90px;
  background-color: black;
  border-bottom:1px solid white;
  text-align: center;
  .nav-item{
    position: relative;
    display: inline-block;
    height: 100%;
    width:100px;
    line-height: 100px;
    a{
      height: 100%;
      font-size: 24px;
      color:white;
    }
  }
}

#main{
  position: relative;
  padding-top: 90px;
  text-align: center;
  height: 100%;
  overflow: hidden;
  h1{
    font-size: 48px;
  }
  h4{
    font-size: 24px;
  }
}

#ninja-wrapper{
  position: relative;
  width: 100%;
  height: calc(100% - 35px);
  overflow: hidden;
  #ninja{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

#weather-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#intro{
  visibility: hidden;
}

.footer{
  position: absolute;
  bottom:0px;
  left:0px;
  width:100%;
}

@media(max-width:768px){
  #main{
    h1{
      font-size: 32px;
    }
    h4{
      font-size: 16px;
    }
  }
  #navbar{
    .nav-item{
      width:75px;
      a{
        font-size:20px;
      }
    }
  }
}
